body {
    background-color: darkmagenta;
    color: cornflowerblue;
}

#header_div {
    background-color: darkviolet;
    margin-top: 0px;
    padding: 20px;
}

#button_start {
    border-radius: 10px;
}

#header_div h3 {
    letter-spacing: 1px;
    color: floralwhite;
}

h1 {
    color: lemonchiffon;
}

#footer_div {
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-family: Lora;
    text-shadow: 5px 5px 5px brown;
}

img {
    width: 250px;
    height: 150px;
}